.feature {
  padding: var(--spacing-medium) var(--spacing-small);
  border-top: 0.2em solid var(--secondary-color);
  width: calc((100% - 2em) / 3);
}

.feature h2 {
  color: var(--black);
  font-size: 1.5em;
  font-weight: 600;
}

.feature .icon {
  color: var(--black);
  width: 4.6875em;
  height: 4.6875em;
  background-color: var(--completing-gradient-color);
}

.feature .icon svg {
  font-size: 1.5em;
}

.feature h2 {
  font-size: 1.5em;
}
