.img {
  width: 13.5em;
  height: 13.5em;
  overflow: hidden;
  padding: var(--spacing-medium);
  border: 2px solid var(--completing-gradient-color);
}

.img img {
  object-fit: cover;
  border: 1px solid var(--completing-gradient-color);
}
