/* About section */
.about-container {
  border-radius: var(--card-border-radius);
  background-color: var(--card-background);
  width: 70%;
  padding: 2em;
}

.about-container p {
  color: var(--black);
  line-height: 1.5;
}
